.book-container {
    position: relative;
}

.book-title {
    margin: 0;

}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.minimize-button,
.maximize-button,
.close-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.close-button {
    background-color: red;
    color: white;
}

.close-button:hover {
    background-color: darkred;
}
.container-fluid {
    display: flex;
}

#divM{
    border-bottom: 2px inset;
}

#divM, #navM{
    margin: 0;
    padding: 0;
}

#divM {
    position: relative;
}

#btnMin, #btnMax, #btnClose {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#divM{
    padding: 3px;
    margin-top: -18px;
    margin-bottom: -13px;
}
#navM{
    border-top: ridge;
    border-bottom: ridge;
}

.fa-lg:hover {
    color: #e543aa;
}
.btn:hover{
    background-color: #e543aa;
}
a {
    text-decoration:none;
    color: black;
}


.icon{
    background-color: #e4e6eb;
    border-radius: 50%;
    outline: 6px solid #e4e6eb;
}
