.book-container {
    position: relative;
}

.book-title {
    margin: 0;
    color: #FF4B2B;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.minimize-button,
.maximize-button,
.close-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.close-button {
    background-color: red;
    color: white;
}

.close-button:hover {
    background-color: darkred;
}
